.rb-beTrainer{

    img{
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
    }
}
.rb-beTrainerText{
    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    p{
        line-height: 30px;
    }
}