$primaryColor: #a3002d;
$primaryColor2: #ff5a81;
$secondColor: #02263c;
$actioncolor: #a3002d;
$fontcolor: #333;

.rb-article-bg {
  position: relative;
}

.rb-article {
  position: absolute;
  width: 100%;
  z-index: 1;
  background-image: linear-gradient(
      rgba(220, 20, 85, 0.8),
      rgba(220, 20, 85, 0.8)
    ),
    url("../../img/bk1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  color: white;
  height: 250px;
 
}

