.knowledge-pic{
    margin-bottom: 2rem;
    img{
        object-fit: cover;
        width: 100%;
      
    }
}
.artlogo{
    .artlogo-pic{
        height: 5vh;
    }
}

.edit{
    text-align: center;
}