
$primaryColor:#A3002D;
$primaryColor2:#FF5A81;
$secondColor:#02263C;

.rb-recommendAct {
  background-image: linear-gradient(
      rgba(220, 20, 85, 0.8),
      rgba(220, 20, 85, 0.8)
    ),
    url("../../img/bk.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  color: white;
 
}



