 .rb-long-bg-h-signUp{
   
 }


label {
    color:#1270B6;
}
.circle {
    height: 1px;
    width: 100%;
}
.ba {
    background-image: black;

}
.ss {
    display:inline-block;
}
.cir {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border:1px solid gray;
    display:inline-block;
    text-align: center;
    background: white;
}
.mph6 {
    margin-top:25px;
}