.coa-pic{
    background: url("../../images/coach.jpg") no-repeat left center;
    background-size:100%;
    height:0px;
    padding-bottom:52.8%;
    width: 100%;
    overflow: hidden;

}

.coa-txt{
    font-size: 20px;
    line-height: 2.2rem;
    margin-top:6.7rem;
    margin-bottom: 2rem;
    h2{
        font-size:2rem;
        margin-bottom: 20px;
    }
}
